#img_header {
  height: 200px;
  width: 200px;
  object-fit: contain;
  margin: auto;
  margin-top: 10px;
  @media screen and (min-width: map-get($breakpoints, desktop)) {
    margin: 20px;
    }
}
#headerContainer {
  display: flex;
  flex-direction: column;
  margin: auto;
  @media screen and (min-width: map-get($breakpoints, desktop)) {
    flex-direction: row;
    margin-left: 10px;
  }
}
#presentationHeader {
  display: flex;
  flex-direction: column;
  @media screen and (min-width: map-get($breakpoints, desktop)) {
    flex-direction: row;
  }
}
.description {
  display: flex;
  flex-direction: row;
  margin: 10px 5px 40px 5px;
  font-size: 27px;
}
#name {
  display: flex;
  flex-direction: column;
  margin-left: 70px;
  margin-top: 20px;
}
h1 {
  font-size: 25px;
  font-family: "Dancing", Arial, Helvetica, sans-serif;
}

h2 {
  font-family: "Zeyada", cursive;
  font-size: 36px;
  text-align: center;
  margin: 10px;
  @media screen and (min-width: map-get($breakpoints, desktop)) {
    margin: 25px 50px;
    width: 20%;  
    text-align: left;
  }
}

h3 {
  font-size: 30px;
  text-align: center;
  margin: 20px 0px;
  color: rgb(64, 179, 224);
}
h4 {
  font-size: 26px;
  text-align: center;
  color: rgb(30, 179, 164);
  white-space: normal;
}
h5 {
  font-size: 25px;
  text-align: center;
  height: 55px;
  margin-top: 10px;
}

li {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-bottom: 15px;
  padding-bottom: 15px;
}

.navBar {
  font-size: 20px;
}

a {
  text-decoration: none;
  &:hover {
  color: #020c0e;
  background-color: aqua;
  }
}