#headerContainer {
  display: flex;
  flex-direction: column;
  margin: auto;
  @media screen and (min-width: map-get($breakpoints, desktop)) {
    flex-direction: row;
    margin-left: 10px;
  }
  #presentationHeader {
    display: flex;
    flex-direction: column;
    @media screen and (min-width: map-get($breakpoints, desktop)) {
      flex-direction: row;
    }
    #img_header {
      height: 200px;
      width: 200px;
      object-fit: contain;
      margin: auto;
      margin-top: 10px;
      @media screen and (min-width: map-get($breakpoints, desktop)) {
        margin: 20px;
      }
      #name {
        display: flex;
        flex-direction: column;
        margin-left: 70px;
        margin-top: 20px;
      }
    }
  }
}

.description {
  display: flex;
  flex-direction: row;
  font-size: 20px;
  margin-left: -20px;
  @media screen and (min-width: map-get($breakpoints, desktop)) {
    font-size: 27px;
    margin: 10px 5px 40px 5px;
  }
}
h1 {
  font-size: 25px;
  font-family: "Dancing", Arial, Helvetica, sans-serif;
}

h2 {
  font-family: "Zeyada", cursive;
  font-size: 36px;
  text-align: center;
  margin: 10px;
  @media screen and (min-width: map-get($breakpoints, desktop)) {
    margin: 25px 50px;
    width: 20%;
    text-align: left;
  }
}

h3 {
  font-size: 30px;
  text-align: center;
  margin: 20px 0px;
  color: rgb(64, 179, 224);
}
h4 {
  font-size: 26px;
  text-align: center;
  color: rgb(30, 179, 164);
  white-space: normal;
}
h5 {
  font-size: 25px;
  text-align: center;
  height: 55px;
  margin-top: 10px;
}

nav {
  font-size: 20px;
  width: 100%;
  margin: 0 auto;
  position: sticky;
  top: 0px;
  margin-left: 140px;

  ul {
    list-style-type: none;

    li {
      float: left;
      width: 25%;
      text-align: center;
      position: relative;
    }
    &::after {
      content: "";
      display: table;
      clear: both;
    }
  }
  a {
    display: block;
    text-decoration: none;
    color: #fff;
    border-bottom: 2px solid transparent;
    padding: 10px 0px;
    &:hover {
      color: turquoise;
      border-bottom: 2px solid rgb(0, 68, 255);
    }
  }
  .under {
    display: none;
    box-shadow: 0px 1px 2px #ccc;
    position: absolute;
    width: 100%;
    z-index: 999;
  }
  ul li:hover .under {
    display: block;
  }
  .under li {
    float: none;
    width: 100%;
    text-align: left;
  }
  .under a {
    padding: 10px;
    border-bottom: none;
  }
  .under a:hover {
    border-bottom: none;
    background-color: rgba(200, 200, 200, 0.1);
  }
}
.drop-down > a::after {
  content: "\2207";
  font-size: 12px;
  margin-left: 10px;
  color: turquoise;
}

/*fleche cote "\u25b8" */