.main-nav {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 0.5rem 0;
  position: relative; 
  z-index: 10;

  .nav-list {
    display: flex;
    list-style: none;
    gap: 2rem;
    padding: 0;
    margin: 0;

    li {
      position: relative;
      list-style: none;
      line-height: 35px;

      a {
        color: white;
        text-decoration: none;
        font-size: 1.2rem;
        padding: 0.5rem 4rem;
        transition: color 0.3s;

        &:hover {
          color: #23dbdb;
        }
      }

      .sub-menu {
        display: none;
        position: absolute;
        top: 100%;
        left: 0;
        background-color: #444;
        flex-direction: column;

        li {
          a {
            padding: 0.5rem;
            color: white;

            &:hover {
              background-color: #555;
            }
          }
        }
      }

      &:hover > .sub-menu {
        display: flex;
      }
    }
  }
}

/* Classe qui rend la navbar fixe */
.fixed-nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}
