nav {
  font-size: 20px;
  width: 100%;
  height: 50px;
  margin: 0 auto;
  position: sticky;
  top: 0px;

  ul {
    width: 100%;
    float: right;
    margin-left: 30px;
    display: flex;
    justify-content: space-around;

    li {
      display: inline-block;
      width: 30%;

      a {
        color: #fff;
        text-decoration: none;
        font-size: 20px;
        display: block;
        padding: 0 15px;
        line-height: 70px;
        transition: 0.5s;

        &:hover {
          color: #23dbdb;
        }
      }
    }

    ul {
      position: absolute;
      top: 85px;
      border-top: 3px solid #23dbdb;
      opacity: 0;
      visibility: hidden;
    }

    li:hover > ul {
      top: 70px;
      opacity: 1;
      visibility: visible;
      transition: 0.3s linear;
      display: flex;
      flex-direction: column;
    }

    ul li {
      width: 20%;
      position: relative;
      border: 1px solid #042331;
      border-top: none;
      list-style: none;

      a {
        line-height: 50px;
      }
    }
    ul ul {
      border-top: none;

      li {
        width: 70%;
        position: relative;
        top: -70px;
        left: 200px;
        a i {
          margin-left: 45px;
        }
      }
    }
  }
}

/*nav {
  font-size: 20px;
  width: 100%;
  margin: 0 auto;
  position: sticky;
  top: 0px;
  margin-left: 140px;

  ul {
    list-style-type: none;
    &::after {
      content: "";
      display: table;
      clear: both;
    }
    a {
      display: block;
      text-decoration: none;
      color: #fff;
      border-bottom: 2px solid transparent;
      padding: 10px 0px;
      &:hover {
        color: turquoise;
        border-bottom: 2px solid rgb(0, 68, 255);
      }
    }
    .drop-down {
      float: left;
      width: 25%;
      text-align: center;
      position: relative;
    }
    li .drop-down > a::after {
      content: "\25b8";
      font-size: 20px;
      margin-left: 10px;
      color: turquoise;
    }
    li:hover .under {
      display: block;
    }
    .under {
      display: none;
      box-shadow: 0px 1px 2px #ccc;
      position: absolute;
      width: 100%;
      z-index: 999;

      li {
        float: none;
        width: 100%;
        text-align: left;

        a {
          padding: 10px;
          border-bottom: none;
          &:hover {
            border-bottom: none;
            background-color: rgba(200, 200, 200, 0.1);
          }
        }

        .under {
          display: none;

          &:hover {
            display: block;
            float: left;
            width: 60%;
            text-align: center;
            position: absolute;
            top: 0;
            left: 200px;
          }

          li:hover {
            display: block;
          }
        }
      }
    }
    /*
    //second nav menu
    li .drop-down > a::after {
      content: "\25b8";
      font-size: 20px;
      margin-left: 10px;
      color: turquoise;
    }*/
/*  }
}*/
