#animation_header {
  margin-left: 300px;
  transform-style: preserve-3d;
  perspective: 800px;
  pointer-events: none;
  .primary {
    border-bottom: 5px solid rgb(23, 27, 237);
  }
  .secondary {
    border-bottom: 6px solid rgb(2, 246, 250);
  }
  .third {
    border-bottom: 7px solid rgb(204, 3, 254);
  }
  .arc {
    position: absolute;
    z-index: 4;
    top: 0;
    left: 0;
    width: 180px;
    height: 180px;
    margin: 7% 40%;
    border-radius: 50%;
    @media screen and (max-width: map-get($breakpoints, desktop)) {
      display: none
    }

    @for $i from 1 through 3 {
      &:nth-child(#{$i}) {
        -moz-animation-name: rotate#{$i};
        -webkit-animation-name: rotate#{$i};
        animation-name: rotate#{$i};
        -moz-animation-duration: 0.8s;
        -webkit-animation-duration: 0.8s;
        animation-duration: 0.8s;
        -webkit-animation-timing-function: linear;
        -moz-animation-timing-function: linear;
        animation-timing-function: linear;
        -webkit-animation-iteration-count: infinite;
        -moz-animation-iteration-count: infinite;
        animation-iteration-count: infinite;
        -webkit-animation-direction: normal;
        -moz-animation-direction: normal;
        animation-direction: normal;
        -webkit-animation-fill-mode: both;
        -moz-animation-fill-mode: both;
        animation-fill-mode: both;
        -webkit-animation-play-state: running;
        -moz-animation-play-state: running;
        animation-play-state: running;
      }
    }
    &:nth-child(1) {
      -webkit-animation-delay: -0.7s;
      -moz-animation-delay: -0.7s;
      animation-delay: -0.7s;
    }
    &:nth-child(2) {
      -webkit-animation-delay: -0.5s;
      -moz-animation-delay: -0.5s;
      animation-delay: -0.5s;
    }
    &:nth-child(3) {
      -webkit-animation-delay: 0s;
      -moz-animation-delay: 0s;
      animation-delay: 0s;
    }
    @keyframes rotate1 {
      from {
        transform: rotateX(35deg) rotateY(-45deg) rotateZ(0);
        opacity: 1;
      }
      to {
        transform: rotateX(35deg) rotateY(-45deg) rotateZ(1turn);
        opacity: 0;
      }
    }

    @keyframes rotate2 {
      from {
        transform: rotateX(50deg) rotateY(10deg) rotateZ(0);
        opacity: 1;
      }
      to {
        transform: rotateX(50deg) rotateY(10deg) rotateZ(1turn);
        opacity: 0;
      }
    }

    @keyframes rotate3 {
      from {
        transform: rotateX(35deg) rotateY(55deg) rotateZ(0);
        opacity: 1;
      }
      to {
        transform: rotateX(35deg) rotateY(55deg) rotateZ(1turn);
        opacity: 0;
      }
    }
  }
}
