.imgTechno {    
    &hover {
        animation: imgMove 3s ease-in-out infinite;
    }    
}

@keyframes imgMove {
    0% {
        transform: scale3d(100%);
    }
    100% {
        transform: scale3d(120%);
    }
}