.imgTechno {
    &:hover {
        animation: imgMove 1.5s ease-in-out infinite;
    }
}

@keyframes imgMove {
    0% {
        transform: scale3d(1, 1, 1); 
    }
    100% {
        transform: scale3d(1.5, 1.5, 1.5);  
    }
}