#formations {
  ul {
    margin-left: 50px;

    li {
      display: flex;
      flex-direction: row;

      i {
        margin-left: 10px;
      }
    }
  }
  .title {
    font-size: 25px;
    margin: 20px;
  }

  #poe {
    width: 100%;
    text-align: center;
    display: flex;

    .title_info {
      display: flex;

      .title {
        color: rgb(251, 255, 0);
      }

      i {
        margin-top: 25px;
        &:hover, &:focus {
          color: rgb(251, 255, 0);
        }
      }
      ul {
        list-style: -moz-linear-gradient(turquoise, green);
      }
    }
  }
  #formation_oc {
    .title_info {
      display: flex;

      .title {
        color: rgb(33, 247, 9);
      }
      i {
        margin-top: 25px;
        &:hover, &:focus {
          color: rgb(33, 247, 9);
        }
      }
    }

    ul {
      line-height: 30px;

      li {
        span {
          margin-right: 10px;
          color: red;
        }

        i {
          color: rgb(0, 132, 255);
          &:hover {
            color: turquoise;
          }
        }
      }
    }
  }

  #autres_formations {
    display: flex;
    flex-direction: column;
    @media screen and (min-width: map-get($breakpoints, desktop)) {
      justify-content: space-between;
    }

    #skilleos {
      width: 100%;
      text-align: center;
      display: flex;
      @media screen and (min-width: map-get($breakpoints, desktop)) {
        text-align: left;
        margin-right: 20px;
        width: 35%;
      }

      .title {
        color: rgb(251, 255, 0);
      }
      i {
        margin-top: 25px;
        &:hover, &:focus {
          color: rgb(251, 255, 0);
        }
      }
    }

    #vueschool {
      display: flex;
      .title {
        color:  rgb(33, 247, 9);
      }
      i {
        margin-top: 25px;
        &:hover, &:focus {
          color: rgb(33, 247, 9);
        }
      }
    }

    #autres {
      display: flex;
      width: 100%;
      line-height: 20px;
      // @media screen and (min-width: map-get($breakpoints, desktop)) {
      //   margin-left: 20px;
      // }

      .title {
        color: rgb(251, 255, 0);
      }
      i {
        margin-top: 25px;
        &:hover, &:focus {
          color: rgb(251, 255, 0);
        }
      }
    }
  }
}
