#presentation {
  display: flex;
  flex-direction: column;
  margin: 10px;
}

#mainName {
  display: flex;
  flex-direction: column;
  @media screen and (min-width: map-get($breakpoints, desktop)) {
    flex-direction: row;
  }
}

#mainPresentation {
  margin: 10px 5px 40px 5px;
  display: flex;
  flex-direction: column;
  font-size: 20px;
}
#autres_formations {
  display: flex;
  flex-direction: column;
  @media screen and (min-width: map-get($breakpoints, desktop)) {
    flex-direction: row;
    justify-content: space-between;
  }
}
#skilleos {
    width: 100%;
    text-align: center;
    @media screen and (min-width: map-get($breakpoints, desktop)) {
        margin-right: 20px;
        width: 35%px;  
    }
}
#autres_competences {
    width: 100%;
    line-height: 20px;
    @media screen and (min-width: map-get($breakpoints, desktop)) {
        width: 60%;  
        margin-left: 200px;
      }
}
