h4 {
  text-align: center;
  margin-left: 20px;
  margin-bottom: 20px
}

.swiper {
  width: 100%;
  height: auto;

  .swiper-slide {
    width: 100%;
    max-width: 400px; 
    margin: 10px;
    font-size: 18px;
    border-radius: 20px;
    padding: 15px;
    text-align: center;
    background-color: #f9f9f9;
    
    img {
      width: 100%;
      height: 250px;
      object-fit: cover;
    }

    .btn_code {
      padding-top: 15px;
      padding-bottom:10px;

      button {
        margin: 5px;
        padding: 8px 12px;
        font-size: 14px;
        background-color: turquoise;
        color: white;
        border: none;
        border-radius: 5px;

        a {
          color: white;
          text-decoration: none;
        }

        &:hover {
          background-color: darkturquoise;
        }
      }
    }

    .description {
      display: flex;
      justify-content: center;
      margin: 0;
      padding: 10px 0;
    }
    .project_description {
      font-size: 16px;
      color: #fff;
    }
  }
}